
 body{
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .parameters{
    padding: 20px;
 }
 .buttons{
    margin:10px;
    display: flex;
    gap: 50px;
 }
 .result{
    border:solid 1px black;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    /* background: linear-gradient(0deg,#0f0f0f,60%,#d31616); */
    /* linear-gradient(); */
 }
 #out{
    padding: 10px;
    margin: auto;
 }
 

